
      .title {
        font-family: Arial, Helvetica, sans-serif;
        padding: 60px 0;
        text-align: center;
        color: #2774AE;
      }
      .people-card {
        /* padding: 20px 0;
        top: 5;
        bottom: 5;
        left: 5;
        right: 5; */
        text-align: center;
        cursor: pointer;
        background-color:  #DAEBFE;
      }
      .people-text{
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 14px;
      }
